html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none !important;
}

div.main-content {
  margin-top: 4rem;
  margin-bottom: 4rem;
  flex: 1;
}

nav ul li {
  margin-right: 10px;
}

footer {
  color: #b69e8b;
  background-color: #dbc6b6;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}