{% extends "desserts/base.html" %}
{% load static %}

{% block title %}Cake Details{% endblock %}

{% block content %}


<div class="container mt-5">
    <div class="row">
        <!-- Tekstas kairėje -->
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2>{{ cake.name }}<i>cake</i></h2>
            <p><strong>Description </strong>{{ cake.description|safe }}</p>
            <p><strong>Price </strong>{{ cake.price }}</p>
        </div>

        <!-- Nuotrauka dešinėje -->
        <div class="col-md-6 text-center">
            {% if cake.image %}
            <img src="{{ cake.image.url }}" class="img-fluid rounded shadow-lg" alt="{{ cake.name }}">
            {% else %}
            <img src="{% static 'desserts/img/default.jpg' %}" class="img-fluid rounded shadow-lg"
                 alt="No Image Available">
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}