{% extends "desserts/base.html" %}
{% load static %}

{% block title %}Cakes{% endblock %}

{% block content %}


<div class="container mt-5">
    <div class="row">
        <!-- Text on the left -->
        {% for cake in cakes %}
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2><a href="{% url 'cake_details' cake.id %}">{{ cake.name }}</a></h2>
            <p><strong>Description </strong>{{ cake.description|safe }}</p>
            <p><strong>Price </strong>{{ cake.price }}</p>
        </div>

        <!-- Photo on the right -->
        <div class="col-md-6 text-center">
            {% if cake.image %}
            <img src="{{ cake.image.url }}" class="img-fluid rounded shadow-lg" alt="{{ cake.name }}">
            {% else %}
            <img src="{% static 'desserts/img/default.jpg' %}" class="img-fluid rounded shadow-lg"
                 alt="No Image Available">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}