{% extends "desserts/base.html" %}

{% block title %}Sweet Adore Desserts{% endblock %}

{% block content %}
  <h3>Welcome to <strong>Rugile's Desserts</strong>!</h3>
  <h1><i><strong>Sweet Adore Desserts</strong></i></h1>
   <br>
   <h5><i>Delicious <strong>inspiring</strong> collection!</i> </h5>
   <p>Currently, You can order from these desserts:</p>
   <ul>
    <li><strong>Cakes: </strong><a href="{% url 'cakes' %}">{{ num_cakes }}</a></li>
    <li><strong>Cookies: </strong><a href="{% url 'cookies' %}">{{ num_cookies }}</a></li>
    <li><strong>Cake Pops: </strong><a href="#">{{ num_cake_pops }}</a></li>
    </ul>
     <p>Find great new drinks to try!</p>
<ul>
    <li><strong>Cocktails: </strong><a href="#">{{ num_cocktails_recipes }}</a></li>
   </ul>
  <div class="container" style="display: inline-block; width: 75%">{{ bar_chart|safe }}</div>
<p>Indulge in the Flavour You Adore.</p>
{% endblock content %}

