{% extends "desserts/base.html" %}

{% block title %}Sweet Adore Desserts{% endblock %}

{% block content %}
  <h3>Welcome to <strong>Rugile's Desserts</strong>!</h3>
  <h1><i><strong>Sweet Adore Desserts</strong></i></h1>
   <br>
   <h5><i>Delicious <strong>inspiring</strong> collection!</i> </h5>
   <p>Currently, we have:</p>
   <ul>
    <li><strong>Cakes: </strong><a href="#">{{ num_cars }}</a></li>
    <li><strong>Cookies: </strong><a href="#">{{ num_services }}</a></li>
    <li><strong>Cake Pops: </strong><a href="#">{{ num_orders }}</a></li>
    <li><strong>Cocktails: </strong><a href="#">{{ num_orders }}</a></li>
  </ul>
  <div class="container" style="display: inline-block; width: 75%">{{ bar_chart|safe }}</div>
<p>Number of your visits {{ num_visits }}.</p>
{% endblock content %}

