{% extends "desserts/base.html" %}
{% load static %}

{% block title %}Order Details{% endblock %}

{% block content %}

  <h2><strong>Order details: </strong></h2>
  <hr />
 <ul>
  <li><strong>Order </strong>{{ order.order_date }}</li>
  <li><strong>User </strong>{{ order.user }}</li>
  <li><strong>Price </strong>{{ order.total_price }} €</li>
 </ul>
{% if order.product %}
<div class="container" style="padding-top: 20px; padding-left: 20px">
  <h4></h4>


        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Options</th>
              <th>Quantity</th>
              <th>Options</th>

            </tr>
        </thead>
          <tbody>

  <tr>
                <td>{{ order.product.name }}</td>
                <td>{{ order.product.price }} €</td>
                <td>{{ order.quantity }}</td>
<td>

    {% for option in order.options.all %}
    {{ option.name }}
  {% if not forloop.last %}
  {% endif %}
    {% endfor %}
</td>
  </tr>

   </tbody>
    </table>
    <h4>Total: <strong>{{ order.price }} €</strong></h4>
  </div>
{% else %}
  <p>No items in this order.</p>
{% endif %}

{% endblock content %}