{% extends "desserts/base.html" %}
{% load static %}

{% block title %}Order Details{% endblock %}

{% block content %}

  <h2><strong>Order details: </strong></h2>
  <hr />
  <li><strong>Order </strong>{{ order.order_date }}</li>
  <li><strong>User </strong>{{ order.user }}</li>
  <li><strong>Price </strong>{{ order.total_price }} €</li>

<p><strong>Total price: </strong>{{ order.total_price }} </p>


<div class="container" style="padding-top: 20px; padding-left: 20px">
  <h4></h4>
{% if order.lines.all %}
      <div class="container" style="display: inline-block; padding-top: 20px; padding-left: 20px; width: 80%">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Options</th>
              <th>Quantity</th>
              <th>Options</th>

            </tr>
        </thead>
          <tbody>
            {% for line in order.lines.all %}
              <tr>
                <td>{{ line.product.name }}</td>
                <td>{{ line.product.price }} €</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.options }}</td>

                    <td>
    {% endfor %}
    {% endif %}



{% endblock content %}